
<!DOCTYPE html>
<html>
  <head>
    <title>Quickstarter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path('quick_favicon.png') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <meta property="og:image" content="https://i.imgur.com/BFSrZQC.png"/>
    <meta property="og:description" content="A crowdfunding site to support 
    others' creative projects. Inspired by Kickstarter."/>
    <script src="https://kit.fontawesome.com/f6f5320881.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>

